<li id="index">
    <a href="#">
        <i class="fa fa-dashboard" style="font-size: 13px"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="users">
    <a>
        <i class="fa fa-group" style="font-size: 13px"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="user_list"><a href="#">用户列表</a></li>
        <li id="dept_list"><a href="#">部门列表</a></li>
        <li id="user_priv_list"><a href="#">权限管理</a></li>
        <li id="login_record_list"><a href="#">用户登录日志</a></li>
    </ul>
</li>
<li id="assets">
    <a>
        <i class="fa fa-inbox"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="asset_list"><a href="#">资产列表</a></li>
        <li id="mysqldb_list"><a href="#">MySQL数据库列表</a></li>
        <li id="asset-group"><a href="#">资产组</a></li>
        <li id="cluster"><a href="#">操作日志</a></li>
    </ul>
</li>
<li id="monitor">
    <a>
        <i class="fa fa-bar-chart-o"></i> <span class="nav-label">监控管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="monitor_prometheus"><a href="#">报表列表</a></li>
    </ul>
</li>
<li id="jobs">
    <a>
        <i class="fa fa-inbox"></i> <span class="nav-label">作业中心</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="task_list"><a href="#">任务列表</a></li>
    </ul>
</li>
<li id="settings">
    <a href="#">
        <i class="fa fa-gears"></i> <span class="nav-label">设置</span><span class="label label-info pull-right"></span>
    </a>
</li>
